
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section style="margin-left: 2cm; margin-top: 1.5cm; margin-right: 10px; flex-wrap: wrap">
    <div class="row with-bg">
        <div class="sm-12">
            <div class="cc-wrapper O-COLCTRL-RW-DEV" role="region" >
                <div id="content_main_columnControl_1" style="margin-right: 5px">

                    <div class="cc cc-columns-66-33 cc-dividers ">

                        <div id="content_main_columnControlColumn_1" class="cc-column">

                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV" role="region">
                                <div id="content_main_title_1">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Thắc mắc về sản phẩm/ dịch vụ
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_1" >
                                    <p class="A-PAR16R-RW-ALL"  >
                                        Nếu Quý khách có bất kỳ thắc mắc nào liên quan đến các sản phẩm, dịch vụ của chúng tôi, vui lòng tham khảo mục <a href="@Url.Action("TongQuan","Home")">
                                            <span aria-hidden="true">Câu Hỏi Thường Gặp</span><span class="visuallyhidden">
                                                để tìm hiểu thêm về các câu hỏi thường gặp liên quan 
                                                đến sản phẩm và dịch vụ của chúng tôi
                                            </span>
                                        </a> để tìm nhanh câu trả lời. Ngoài ra Quý khách cũng có thể lựa chọn cách thức liên lạc phù hợp để chúng tôi có thể hỗ trợ Quý khách tốt nhất.<br>
                                    </p>
                                </div>
                            </div>
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV" role="region">
                                <div id="content_main_title_2">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Khen ngợi nhân viên chúng tôi
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_2">
                                    <p class="A-PAR16R-RW-ALL">Tại VNBookStore, chúng tôi cam kết mang đến cho Quý khách trải nghiệm đẳng cấp thế giới với các sản phẩm và dịch vụ tối ưu.
                                    Nếu Quý khách cảm thấy hài lòng khi làm việc với chúng tôi hoặc đơn giản đã có những trải nghiệm tuyệt vời, chúng tôi rất mong được lắng nghe những khen ngợi của Quý khách.
                                  Đây là động lực để chúng tôi có thể phục vụ Quý khách ngày càng tốt hơn </p>
                                </div>
                            </div>
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV" role="region">
                                <div id="content_main_title_3">
                                    <h2 class="A-BBST28R-RW-ALL">
                                        Đóng góp ý kiến
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_3">
                                    <p class="A-PAR16R-RW-ALL" style="margin-right:2px">Ý kiến đóng góp của Quý khách rất quý giá, giúp chúng tôi phục vụ Quý khách và 
                                    tất cả khách hàng ngày càng tốt hơn.Những ý kiến này cũng giúp chúng tôi duy trì tiêu chuẩn cao với các sản phẩm và dịch vụ và đáp ứng nhu cầu khách hàng tối ưu nhất.Chúng tôi rất muốn được lắng nghe những ý kiến đóng góp của Quý khách</p>
                                    
                                </div>
                            </div>
                            <div class="O-TITLE-RW-DEV O-SMARTSPCGEN-DEV" role="region">
                                <div id="content_main_title_4">



                                    <h2 class="A-BBST28R-RW-ALL">
                                        Gửi khiếu nại
                                    </h2>
                                    <div class="row">
                                        <div class="sm-12 organismsContainer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_4" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="Asia/Ho_Chi_Minh">
                                    <p class="A-PAR16R-RW-ALL">Nếu chúng tôi chưa đáp ứng được sự hài lòng của Quý khách, chúng tôi rất muốn lắng nghe ý kiến của Quý khách để ngày càng hoàn thiện. Sau khi nhận được khiếu nại của Quý khách, chúng tôi sẽ phúc đáp trong thời gian sớm nhất.Các khiếu nại sẽ được giải quyết trong vòng bảy ngày làm việc, trừ khi pháp luật hiện hành có quy định khác.Trường hợp phức tạp có thể cần thêm thời gian để xem xét giải quyết, chúng tôi sẽ thông báo cho Quý khách.</p>
                                   
                                   
                                </div>
                            </div>
                        </div>
                        <span class="cc-separator"></span>
                        <div id="content_main_columnControlColumn_2" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h2 class="heading A-TYP22L-RW-ALL " id="content_main_heading_1">
                                    Liên hệ với chúng tôi
                                </h2>
                               
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_5" >
                                    <p class="A-PAR14R-RW-ALL">Quý khách có thể đến <a href="https://goo.gl/maps/QSEuYGaNCR2wTAUA9"><span aria-hidden="true">Chi nhánh/ Phòng Giao dịch</span><span class="visuallyhidden">Chi nhánh/ Phòng Giao dịch để tìm chi nhánh hoặc phòng giao dịch gần nhất</span></a> thuận tiện nhất và trao đổi trực tiếp với nhân viên của chúng tôi. Ngoài ra Quý khách cũng có thể điền "Phiếu Góp Ý của Khách hàng" đặt tại các Chi nhánh/ Phòng Giao dịch<br> </p>
                                </div>
                            </div>

                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h2 class="heading A-TYP14B-RW-ALL remove-bottom-space" >
                                    Trực tuyến
                                </h2>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_6" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="Asia/Ho_Chi_Minh">
                                    <p class="A-PAR14R-RW-ALL">Chúng tôi sẽ phản hồi Quý khách trong vòng 2 ngày làm việc đối với những yêu cầu gửi trực tuyến. Nếu Quý khách cần hỗ trợ khẩn cấp, vui lòng liên hệ với chúng tôi thông qua những cách thức khác.</p>
                                    <ul class="A-LSTU-RW-ALL">
                                        <li><span class="A-PAR14R-RW-ALL"><strong>Quý khách có thể gửi thư điện tử đến chúng tôi:</strong><br> Khách hàng cá nhân: <a href="mailto:ngluan161121@gmail.com"><span aria-hidden="true">direct@hsbc.com.vn</span><span class="visuallyhidden">direct@hsbc.com.vn để gửi email cho khách hàng cá nhân</span></a><br> Khách hàng Premier: <a href="mailto:hsbcpremiervn@hsbc.com.vn"><span aria-hidden="true">hsbcpremiervn@hsbc.com.vn</span><span class="visuallyhidden">hsbcpremiervn@hsbc.com.vn để gửi email cho khách hàng Premier</span></a></span></li>
                                        <li><span class="A-PAR14R-RW-ALL"><strong>Điền thông tin vào mẫu thư trực tuyến:</strong><br> Thư <a href="https://forms.hsbc.com.vn/vi-vn/forms/contact-us/" target="_blank" rel="noopener"><span aria-hidden="true">Thắc Mắc/ Khiếu Nại/ Phản hồi</span><span class="visuallyhidden">Thắc Mắc/ Khiếu Nại/ Phản hồi để vào trang đăng ký thông tin liên hệ của HSBC Đường dẫn này sẽ dẫn đến một cửa sổ mới</span></a><br> Thư <a href="https://forms.hsbc.com.vn/vi-vn/forms/compliments/" target="_blank" rel="noopener"><span aria-hidden="true">Khen ngợi nhân viên</span><span class="visuallyhidden">Khen ngợi nhân viên tìm hiểu thêm về LỜI KHEN NGỢI Đường dẫn này sẽ dẫn đến một cửa sổ mới</span></a><br> </span></li>
                                        <li><span class="A-PAR14R-RW-ALL"><strong>Ngân hàng Trực tuyến:</strong><br> Đăng nhập Ngân hàng trực tuyến và gửi thông tin đến chúng tôi bằng cách vào mục "Tin nhắn bảo mật/ Gửi tin nhắn".</span><br> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h4 class="heading A-TYP14B-RW-ALL remove-bottom-space" id="content_main_heading_4">
                                    Gọi điện cho chúng tôi
                                </h4>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_7" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="Asia/Ho_Chi_Minh">
                                    <p class="A-PAR14R-RW-ALL">Quý khách có thể gọi đến Trung tâm Dịch vụ Khách hàng của chúng tôi theo các số điện thoại dưới đây:</p>
                                    <ul class="A-LSTU-RW-ALL">
                                        <li><span class="A-PAR14R-RW-ALL"><strong>Khách hàng Cá Nhân<sup><a href="#2"><span aria-hidden="true">2</span><span class="visuallyhidden">2 xem chú thích 2</span></a></sup>:</strong> <br> <a href="tel:00842837247247" class="no-link" role="presentation">(84 28) 37 247 247</a>&nbsp;(miền Nam) hoặc<br> <a href="tel:00842462707707" class="no-link" role="presentation">(84 24) 62 707 707</a>&nbsp;(miền Bắc)<br> </span></li>
                                        <li><span class="A-PAR14R-RW-ALL"><strong>Chủ thẻ tín dụng Platinum (24/7):</strong> <a href="tel:00842837247248" class="no-link" role="presentation">(84 28) 37 247 248</a></span></li>
                                        <li><span class="A-PAR14R-RW-ALL"><strong>Khách hàng Premier (24/7):</strong> <a href="tel:00842837247666" class="no-link" role="presentation">(84 28) 37 247 666</a><br> </span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h4 class="heading A-TYP14B-RW-ALL remove-bottom-space" id="content_main_heading_5">
                                    Gửi thư cho chúng tôi
                                </h4>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_8" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="Asia/Ho_Chi_Minh">
                                
                                    <p class="A-PAR14R-RW-ALL">Bộ phận Quan hệ Khách hàng<br> Ngân hàng TNHH một thành viên HSBC (Việt Nam)<br> Tòa nhà The Metropolitan,<br> 235 Đồng Khởi, Quận 1,Thành phố Hồ Chí Minh<br> Việt Nam<br> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cc-wrapper O-COLCTRL-RW-DEV" role="region">


                <div id="content_main_columnControl_2">

                    <div class="cc cc-columns-100  ">

                        <div id="content_main_columnControlColumn_3" class="cc-column">
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV" role="region">
                                <h2 class="heading A-TYP14B-RW-ALL remove-bottom-space" id="content_main_heading_6">
                                    Thông tin thêm
                                </h2>
                            </div>
                            <div class="M-CONTMAST-RW-RBWM O-SMARTSPCGEN-DEV rich-text" role="region">
                                <div id="content_main_richtext_9" data-date-format="M/D/YYYY" data-time-format="HH:MM:SS A" data-zone="Asia/Ho_Chi_Minh">
                                    <p class="A-PAR16R-RW-ALL"><sup><a id="1"></a>1</sup><span class="A-PAR14R-RW-ALL">Thông tin Quý khách cung cấp thông qua hình thức trực tuyến sẽ được mã hóa. Tuy nhiên Quý khách vui lòng không cung cấp thông tin số tài khoản, số thẻ tín dụng hoặc bất cứ thông tin bảo mật nào trong phần "Nội dung" để đảm bảo an toàn thông tin tối đa cho Quý khách. Trước khi liên hệ với chúng tôi, Quý khách vui lòng đọc kĩ các điều khoản về "<a href="/privacy-and-security/"><span aria-hidden="true">An toàn và Bảo mật</span><span class="visuallyhidden">An toàn và Bảo mật để xem trang thông tin về Quyền riêng tư và bảo mật</span></a>"</span></p>
                                    <p class="A-PAR16R-RW-ALL"><sup><a id="2"></a>2</sup><span class="A-PAR14R-RW-ALL">Hoạt động 24/7 cho việc báo mất hoặc thất lạc thẻ hoặc thiết bị bảo mật, khiếu nại giao dịch hoặc khiếu nại khác liên quan đến Thẻ, và từ 8 giờ sáng đến 10 giờ tối hàng ngày cho các vấn đề khác. Khách hàng Cá nhân ở khu vực miền Trung có thể liên hệ Trung tâm Dịch vụ Khách hàng theo một trong hai số miền Bắc hoặc miền Nam.</span><sup><br> </sup></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row with-bg">
        <div class="sm-12">
            <div class="O-SMARTSPCGEN-DEV M-BACKTOTOP-RW-RBWM" role="region">
                <div id="content_rel_backtotop_1">
                    <div id="content_rel_link_1" class="link-container">
                        <a class="A-LNKAU-RW-ALL" href="#" tabindex="0">
                            <span class="link">Về đầu trang</span>&nbsp;<span class="icon icon-anchor-up" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







