
@{
    ViewBag.Title = "TongQuan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="mx-auto mb-8">
    <blockquote class="mb-4">
        <div style="font-style: italic; font-weight: bold; text-indent: 30px; text-align: center">
            “Thanks you, there is no reason to buy books on Amazon anymore.”
            —
            <a href="@Url.Action("Index","Home")" class="hotlink">
                VNBookStore
            </a>
        </div>
    </blockquote>
</section>

<section class="grid gap-4 mb-6" style="margin-left: 2cm">
    <div>
        
        <h5><b>Can I partner or advertise with VNBookStore?</b></h5>
        <p>
            For partnerships and promotions, contact <a href="https://www.facebook.com/LuanNguyen21/" class="hotlink">Nguyễn Luân Promotion</a>. For advertising, contact <a href="https://www.facebook.com/LuanNguyen21/" class="hotlink">Nguyễn Luân Ads</a>
        </p>
    </div>
    <div>
        <h5><b>Does VNBookStore ship to Hà Nội or internationally?</b></h5>
        <p class="mb-2">
           VNBookStore only ships to the Hồ Chí Minh City, but we do have <a href="https://goo.gl/maps/f3jJCsYPB7PomYpR9" class="hotlink">VNBookStore Đà Nẵng</a> and <a href="https://goo.gl/maps/2W1m8QBFtk9Mh6fRA" class="hotlink">VNBookStore Cần Thơ</a> available for those regions.
        </p>
        <p>
            We hope to help support bookstores all over Việt Nam in the future.
        </p>
    </div>
    <div>
        <h5><b>How do I report a problem with the website or my order?</b></h5>
        <p>
            <a href="@Url.Action("LienHe","Home")" class="fd-contact-us hotlink ">Contact Us</a>
        </p>
    </div>
    <div>
        <h5><b>What do I do if I've received a damaged, incorrect, or otherwise defective order?</b></h5>
        <p>
            If you have received damaged, defective, or incorrectly shipped merchandise please contact customer service <a href="@Url.Action("LienHe","Home")" class="hotlink">here</a>.
        </p>
    </div>
    <div>
        <h5><b>Will VNBookStore sell audiobooks and or ebooks?</b></h5>
        <p>
            We sell ebooks via an affiliate partnership with Shopee. You can see the links to each partner's site on the product page of titles that are carried by the respective partner.
        </p>
    </div>
    <div>
        <h5><b>How does VNBookStore work with independent bookstores?</b></h5>
        <p>
            VNBookStore supports indies in two ways:
        </p>
        <ul style="list-style: disc; padding-left: 2rem;">
            <li>
                10% of regular sales on Bookshop.org are added to an earnings pool that is evenly divided and distributed to independent bookstores every six months.
            </li>
            <li>
                Stores that are affiliates also can share their Bookshop.org links on social media, email newsletters, or on their websites to earn 30% of the cover price (the full profit margin) on any sales they generate, without having to do the work of keeping inventory, picking, packing, shipping or handling complaints and returns.
            </li>
        </ul>
        <p>All books are sent from our wholesaler Ingram, not the bookstore's actual inventory.</p>
    </div>
    <div>
        <h5><b>How does VNBookStore promote local bookstores?</b></h5>
        <ul style="list-style: disc; padding-left: 2rem;">
            <li>
                Every receipt informs customers about the bookstores near them.
            </li>
            <li>
                If a Bookshop.org customer opts in, their local bookstore will be given their email address
            </li>
            <li>
                Affiliate stores can create recommendation lists (staff picks, etc) on Bookshop.org, boosting their visibility and earning a commission on every sale generated from the list.
            </li>
        </ul>
    </div>
    <div>
        <h5><b>How do I set up an affiliate account?</b></h5>
        <p>
            Anyone can create an account at <a href="@Url.Action("Register","Home")" class="hotlink">
                Here
            </a>.
        </p>
    </div>
    <div>
        <h5><b>If I'm an affiliate, do I have to disclose that on my website, newsletter or social media posts?</b></h5>
        <p>
            Yes. Whenever a link is used on your website that results in a commission, you must disclose this information to site visitors, according to FTC rules. We suggest adding something like: "Disclosure: I am an affiliate of Bookshop.org where your purchases support local bookstores. I will earn a commission if you click through and make a purchase." to your website or post.
        </p>
    </div>
    <div>
        <h5><b>If I'm an affiliate, how are the sales of my books handled?</b></h5>
        <p>
            Affiliates do not have to handle inventory, fulfillment, shipping, or customer service. All book sales are fulfilled by Ingram. Ingram's extensive inventory and regional warehouse system ensures Bookshop.org that books can reach customers in as soon as 2-3 days.
        </p>
    </div>
    
</section>


